{% extends 'base.html' %}
{% block content %}
<h1>AkikAsik</h1>

<h5>Nama Batu: </h5>
<p>{{ nama }}<p>

<h5>Harga:</h5>
<p>{{ harga }}</p>

<h5>Deskripsi:</h5>
<p>{{ deskripsi }}</p>

{% if not product_form %}
<p>Belum ada data batu pada akikasik.</p>
{% else %}
<table>
  <tr>
    <th>Nama Batu</th>
    <!-- <th>Time</th> -->
    <th>Harga</th>
    <th>Deskripsi</th>
  </tr>

  {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini 
  {% endcomment %} 
  {% for product_entry in product_form %}
  <tr>
    <td>{{ product_entry.nama }}</td>
    <!-- <td>{{mood_entry.time}}</td> -->
    <td>{{ product_entry.harga }}</td>
    <td>{{ product_entry.deskripsi }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_product_entry' %}">
  <button>Add New Product Entry</button>
</a>

{% endblock content %}